<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="src\assets\images\new1.png" alt="Card image">
    <div class="card-body">
      <h5 class="card-title" >Microsoft Portugal anuncia Maria Kol como nova Human Resources Lead</h5>
      <p class="card-text">A Microsoft anuncia a nomeação de Maria Kol para o cargo de Human Resources Lead em Portugal, onde ficará responsável pela gestão estratégica dos Recursos Humanos da subsidiária portuguesa. </p>
      <a routerLink="/article-template" routerLinkActive="active" class="btn btn-primary">Read More</a>
    </div>
  </div>