<app-navbar></app-navbar>
<body>
    <section class="about-section" id="about">
        <div class="container">
            <h2 class="about-title">About Us</h2>
            <div class="about-text">
                <p>
                    Welcome to DyNews, a platform dedicated to providing unbiased, 
                    accurate, and diverse news content. 
                    Our mission is to empower our readers with the information 
                    they need to make informed decisions and foster 
                    a vibrant, engaged community
                </p>
                <p>
                    Our team of dedicated journalists and editors is committed to delivering high-quality news content that is both informative and engaging. We are constantly striving to improve our website and services, and we welcome your feedback and suggestions.

                    We hope that you find our website to be a valuable resource for staying informed and engaged in the world around you. 
                </p>
                <p>Thank you for visiting, and we look forward to bringing you the news you need.</p>
                <img src="https://via.placeholder.com/1200x400" alt="Article Image" class="img-fluid mb-4"/>
            </div>
        </div>
    </section>
</body>
<app-footer></app-footer>