<div mat-dialog-content class="d-flex flex-column w-100">
  <!-- <div class="row justify-content-end">
    <button mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div> -->
  <div class="row justify-content-center align-content-center ">
    <!-- <h1 mat-dialog-title class="text-center">{{data.title}}</h1> -->
    <mat-spinner></mat-spinner>
    <p class="tex-tcenter">loading...</p>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <!-- <h2 mat-dialog-title>{{data.message}}</h2> -->
  <!-- <img  src="{{ data.isSuccess ? '../../../../../assets/success.svg' : '../../../../../assets/error.svg'}}" /> -->

</div>
