:root {
  --transparent-color:rgba(255, 0, 0, 0);
}

.top-close {
  right: 2em;
  top: 2em;
}


img {
  height: 12em;
  width: auto;
}



.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #5555 ;
}


